<html>
<head>
<title>Ballin Octo-Wight : Soccer Predictions</title> 
<script src="http://code.jquery.com/jquery-1.7.2.js" type="text/javascript"></script>

<script type="text/javascript">

var Config = {
	groups : {
		groupa : ["Poland", "Greece", "Russia", "Czech"],
		groupb : ["Netherlands", "Denmark", "Germany", "Portugal"],
		groupc : ["Spain", "Italy", "Ireland", "Croatia"],
		groupd : ["France", "England", "Ukraine", "Sweden"]
	},
	url : "/group_phase"
};

function generateGameTemplate(matches) {

	var rows = [];
	for (var index in matches) {
		var t1 = matches[index][0],
		    t2 = matches[index][1];

		rows.push('<tr><td>' + t1 +'</td><td>' + t2 +'</td><td class="score"><input type="text" name="' + t1+ '-' + t2 +'-0" value="" /><input type="text" name="' + t1+ '-' + t2 +'-1" value="" /></td></tr>');
	}	

	return rows.join("\n");
}

function generateOpponents(group) {

	var opponents =[]; 
	for (var i = 0; i < group.length; i++) {
		for (var j = i + 1; j < group.length; j++) {
			opponents.push([group[i], group[j]]);
		}
	}	

	return opponents;
}

function generateLeague(matches, groupId) {

	var html = '<form id="' + groupId + '" method="post"><table><tbody>' + generateGameTemplate(matches)  + '</tbody></table></form>';

	return html;
}

function init() {
	
	var html = "";
	for (var group in Config.groups) {
	
		html += "<h2>" + group + "</h2>";
		html += generateLeague(generateOpponents(Config.groups[group]), group);	
	}	

	$('body').append(html);
}

function predict() {

	$(".score").each(function(index, element) {
		var $inputs = $("input", $(element));
		var $input1 = $($inputs[0]);
		var $input2 = $($inputs[1])

		var score1 = rand(); 
		var score2 = rand();
		score2 = (score1 == score2) ? score2+1 : score2;
		
		$input1.val(score1);
		$input2.val(score2);
	});
}

function rand() {
	return Math.floor(Math.random()*11);
}

function getMatchResults() {

	var result = [];
	$(".score").each(function(index, element) {
		
		var $inputs = $("input", $(element));
		var $input1 = $($inputs[0]);
		var $input2 = $($inputs[1])
		
		//console.log($input1, $input2, $inputs);
		var teams = $input1.attr("name").split("-");
		var o = {
			"team1": teams[0],
			"team2": teams[1],
			"score1": $input1.val(),
			"score2": $input2.val()
		};
		result.push(o);
	});

	return result;
}

function clearScreen() {

	$("form").remove();
	$("h2").remove();
}

function renderKnockoutStage(matches, groupId) {
	
	var html = "";
	html += "<h2>" + groupId + "</h2>";
	html += generateLeague(matches, groupId);	
	$('body').append(html);
}

function renderWinner(winner) {
	$('body').append("<h1>" + winner + " is the winner!!</h1>");
}

$(document).ready(function() {

	init();
	$("#predict").click(predict);
	$("#send").click(function() {
		
		var data = {"matches": getMatchResults(), "leagues": Config.groups};
		data = JSON.stringify(data);
		console.log(data);
                $.ajaxSetup({"contentType": "application/json"});
		$.post(Config.url, data, function(response) {
			
			clearScreen();
                        if (response.winners) {
				knockoutMatches = response.winners;
        	                if (response.next_url) {
                	                Config.url = response.next_url;
                        	}
				renderKnockoutStage(knockoutMatches, "KnockoutStage");
			} else if (response.winner) {
				renderWinner(response.winner);
			}
		}, 'json');
	});
});

</script>
</head>
<body>

<h1>Predict It (Powered by Prolog)</h1>


<input type="button" name="predict" id="predict" value="Predict" />
<input type="button" name="send" id="send" value="Send" />
</body>
</html>
